apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: csi-plugin-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: kubernetes
    role: csi-plugin-controller
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: kubernetes
      role: csi-plugin-controller
  unhealthyPodEvictionPolicy: AlwaysAllow
