{{- if and (eq .Values.gardener.seed.provider "alicloud") (not .Values.gardener.runtimeCluster.enabled) }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.config.etcd.storage.className }}
  labels:
{{ include "labels" . | indent 4 }}
  annotations:
    resources.gardener.cloud/delete-on-invalid-update: "true"
{{- if eq .Values.gardener.seed.volumeProvider "FlexVolume" }}
provisioner: alicloud/disk
volumeBindingMode: {{ .Values.config.etcd.storage.volumeBindingMode }}
parameters:
  type: cloud_essd
  encrypted: "true"
{{- else }}
provisioner: diskplugin.csi.alibabacloud.com
volumeBindingMode: {{ .Values.config.etcd.storage.volumeBindingMode }}
parameters:
  csi.storage.k8s.io/fstype: ext4
  type: cloud_essd
  readOnly: "false"
  encrypted: "true"
{{- end }}
{{- end }}
