kubernetesVersion: v1.15.0
regionID: shanghai-cn
replicas: 1

images:
  csi-attacher: repository:tag
  csi-provisioner: repository:tag
  csi-plugin-alicloud: repository:tag
  csi-snapshotter: repository:tag
  csi-snapshot-controller: repository:tag
  csi-resizer: repository:tag
  csi-liveness-probe: repository:tag
  csi-snapshot-validation-webhook: repository:tag

enableADController: true

csiPluginController:
  snapshotPrefix: ""
  persistentVolumePrefix: ""
  podAnnotations: {}
  podResources:
    diskPlugin:
      requests:
        cpu: 20m
        memory: 50Mi
      limits:
        memory: 256Mi
    attacher:
      requests:
        cpu: 11m
        memory: 36Mi
      limits:
        memory: 1.9Gi
    provisioner:
      requests:
        cpu: 11m
        memory: 38Mi
      limits:
        memory: 1.9Gi
    snapshotter:
      requests:
        cpu: 11m
        memory: 36Mi
      limits:
        memory: 1.3Gi
    resizer:
      requests:
        cpu: 11m
        memory: 32Mi
      limits:
        memory: 1.5Gi
    livenessProbe:
      requests:
        cpu: 11m
        memory: 32Mi
      limits:
        memory: 1.5Gi

vpa:
  resourcePolicy:
    diskPlugin:
      maxAllowed:
        cpu: 800m
        memory: 4G
    provisioner:
      maxAllowed:
        cpu: 800m
        memory: 4G
    attacher:
      maxAllowed:
        cpu: 500m
        memory: 4G
    snapshotter:
      maxAllowed:
        cpu: 700m
        memory: 3G
    resizer:
      maxAllowed:
        cpu: 700m
        memory: 3G
    livenessProbe:
      maxAllowed:
        cpu: 500m
        memory: 2G

csiSnapshotController:
  podAnnotations: {}
  podResources:
    snapshotController:
      requests:
        cpu: 11m
        memory: 32Mi
      limits:
        memory: 2.2Gi
csiSnapshotValidationWebhook:
  replica: 1
  podAnnotations: {}
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 200Mi
  secrets:
    server: csi-snapshot-validation-server
