images:
  machine-controller-manager: image-repository:image-tag
  machine-controller-manager-provider-alicloud: image-repository:image-tag

replicas: 1

podAnnotations: {}

podLabels: {}

providerName: provider-foo

useTokenRequestor: false
useProjectedTokenMount: false

namespace:
  uid: uuid-of-namespace

metricsPort: 10258
metricsPortAlicloud: 10259

vpa:
  enabled: true
  updatePolicy:
    updateMode: "Auto"
