images:
- name: terraformer
  sourceRepository: github.com/gardener/terraformer
  repository: eu.gcr.io/gardener-project/gardener/terraformer-alicloud
  tag: "v2.7.1"
- name: machine-controller-manager
  sourceRepository: github.com/gardener/machine-controller-manager
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager
  tag: "v0.40.0"
- name: machine-controller-manager-provider-alicloud
  sourceRepository: github.com/gardener/machine-controller-manager-provider-alicloud
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager-provider-alicloud
  tag: "v0.3.0"
- name: alicloud-controller-manager
  sourceRepository: https://github.com/kubernetes/cloud-provider-alibaba-cloud
  repository: registry.eu-central-1.aliyuncs.com/gardener-de/alibaba-cloud-controller-manager
  tag: v1.9.3-372 # the upstream image is using non-semver tag (registry.cn-shanghai.aliyuncs.com/acs/cloud-controller-manager-amd64:v1.9.3.372-gcf3535b-aliyun).
- name: csi-attacher
  sourceRepository: https://github.com/kubernetes-csi/external-attacher
  repository: k8s.gcr.io/sig-storage/csi-attacher
  tag: v2.2.0
- name: csi-node-driver-registrar
  sourceRepository: https://github.com/kubernetes-csi/node-driver-registrar
  repository: k8s.gcr.io/sig-storage/csi-node-driver-registrar
  tag: v1.3.0
- name: csi-provisioner
  sourceRepository: https://github.com/kubernetes-csi/external-provisioner
  repository: k8s.gcr.io/sig-storage/csi-provisioner
  tag: v1.6.0
- name: csi-snapshotter
  sourceRepository: https://github.com/kubernetes-csi/external-snapshotter
  repository: quay.io/k8scsi/csi-snapshotter
  tag: v1.2.2
  targetVersion: "< 1.17"
- name: csi-snapshotter
  sourceRepository: https://github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/csi-snapshotter
  tag: v2.1.5
  targetVersion: ">= 1.17"
- name: csi-snapshot-controller
  sourceRepository: https://github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/snapshot-controller
  tag: v2.1.5
- name: csi-resizer
  sourceRepository: https://github.com/kubernetes-csi/external-resizer
  repository: k8s.gcr.io/sig-storage/csi-resizer
  tag: v0.5.0
- name: csi-plugin-alicloud
  sourceRepository: https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver
  repository: registry.eu-central-1.aliyuncs.com/gardener-de/csi-plugin-alicloud
  tag: v1.18.8-45 # the upstream image is using non-semver tags which is causing issues in the CI/CD pipelines of Gardener, thus the image is replicated and tagged with semver version in another registry (registry.cn-hangzhou.aliyuncs.com/acs/csi-plugin:v1.18.8.45-1c5d2cd1-aliyun).
- name: csi-liveness-probe
  sourceRepository: github.com/kubernetes-csi/livenessprobe
  repository: k8s.gcr.io/sig-storage/livenessprobe
  tag: v2.3.0
