images:
- name: terraformer
  sourceRepository: github.com/gardener/terraformer
  repository: eu.gcr.io/gardener-project/gardener/terraformer-alicloud
  tag: "v2.18.1"
- name: machine-controller-manager
  sourceRepository: github.com/gardener/machine-controller-manager
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager
  tag: "v0.47.0"
- name: machine-controller-manager-provider-alicloud
  sourceRepository: github.com/gardener/machine-controller-manager-provider-alicloud
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager-provider-alicloud
  tag: "v0.7.0"
- name: alicloud-controller-manager
  sourceRepository: https://github.com/kubernetes/cloud-provider-alibaba-cloud
  repository: registry.eu-central-1.aliyuncs.com/gardener-de/alibaba-cloud-controller-manager
  tag: v1.9.3-372 # the upstream image is using non-semver tag (registry.cn-shanghai.aliyuncs.com/acs/cloud-controller-manager-amd64:v1.9.3.372-gcf3535b-aliyun).

- name: csi-attacher
  sourceRepository: https://github.com/kubernetes-csi/external-attacher
  repository: registry.k8s.io/sig-storage/csi-attacher
  tag: v3.4.0
  targetVersion: ">= 1.17"
- name: csi-node-driver-registrar
  sourceRepository: https://github.com/kubernetes-csi/node-driver-registrar
  repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
  tag: v2.5.1
- name: csi-provisioner
  sourceRepository: https://github.com/kubernetes-csi/external-provisioner
  repository: registry.k8s.io/sig-storage/csi-provisioner
  tag: "v2.2.2"
  targetVersion: "< 1.20"
- name: csi-provisioner
  sourceRepository: github.com/kubernetes-csi/external-provisioner
  repository: k8s.gcr.io/sig-storage/csi-provisioner
  tag: "v3.2.0"
  targetVersion: ">= 1.20"
- name: csi-snapshotter
  sourceRepository: https://github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/csi-snapshotter
  tag: v3.0.3
  targetVersion: "< 1.20"
- name: csi-snapshotter
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/csi-snapshotter
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-snapshot-validation-webhook
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-validation-webhook
  tag: "v3.0.3"
  targetVersion: "< 1.20"
- name: csi-snapshot-validation-webhook
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/snapshot-validation-webhook
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-snapshot-controller
  sourceRepository: https://github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-controller
  tag: v3.0.3
  targetVersion: "< 1.20"
- name: csi-snapshot-controller
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/snapshot-controller
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-resizer
  sourceRepository: https://github.com/kubernetes-csi/external-resizer
  repository: registry.k8s.io/sig-storage/csi-resizer
  tag: v1.5.0
- name: csi-plugin-alicloud
  sourceRepository: https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver
  repository: registry.eu-central-1.aliyuncs.com/gardener-de/alicloud-csi-plugin
  tag: v1.16.9-11c14d43  # temp build for hotfix on v1.22.8-e84838c-aliyun, see PR https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver/pull/609
- name: csi-liveness-probe
  sourceRepository: github.com/kubernetes-csi/livenessprobe
  repository: registry.k8s.io/sig-storage/livenessprobe
  tag: v2.7.0
