apiVersion: v1
kind: Service
metadata:
  name: cloud-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app: kubernetes
    role: cloud-controller-manager
  annotations:
    networking.resources.gardener.cloud/from-policy-pod-label-selector: all-scrape-targets
    networking.resources.gardener.cloud/from-policy-allowed-ports: '[{"port":"10258","protocol":"TCP"}]'
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: metrics
      port: 10258
      protocol: TCP
  selector:
    app: kubernetes
    role: cloud-controller-manager