images:
  csi-driver-registrar: image-repository:image-tag
  csi-plugin-alicloud: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

credential:
  accessKeyID: keyID
  accessKeySecret: secret
kubernetesVersion: v1.15.0
vpaEnabled: false

enableADController: true

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      cpu: 12m
      memory: 40Mi
    limits:
      memory: 256Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 1Gi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 300Mi

pspDisabled: false

vpa:
  resourcePolicy:
    driver:
      maxAllowed:
        cpu: 2
        memory: 4G
    nodeDriverRegistrar:
      maxAllowed:
        cpu: 1
        memory: 3G
    livenessProbe:
      maxAllowed:
        cpu: 1
        memory: 3G
