images:
  csi-driver-registrar: image-repository:image-tag
  csi-plugin-alicloud: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

credential:
  accessKeyID: keyID
  accessKeySecret: secret
kubernetesVersion: v1.15.0
vpaEnabled: false

enableADController: true

resources:
  driver:
    requests:
      cpu: 12m
      memory: 40Mi
    limits:
      memory: 2Gi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 1Gi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 300Mi
