images:
  csi-driver-registrar: image-repository:image-tag
  csi-plugin-alicloud: image-repository:image-tag
  csi-plugin-alicloud-init: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

credential:
  credentialsFile: file

enableADController: true

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  driver:
    requests:
      cpu: 12m
      memory: 40Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
