kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: csi-disk-plugin-alicloud
  namespace: kube-system
  labels:
    origin: gardener
    app: csi-disk-plugin-alicloud
spec:
  selector:
    matchLabels:
      app: csi-disk-plugin-alicloud
  template:
    metadata:
      annotations:
        checksum/secret-csi-diskplugin-alicloud: {{ include (print $.Template.BasePath "/csi-diskplugin-secret.yaml") . | sha256sum }}
      labels:
        app: csi-disk-plugin-alicloud
        origin: gardener
    spec:
      priorityClassName: system-node-critical
      serviceAccount: csi-disk-plugin-alicloud
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoExecute
          operator: Exists
      containers:
      - name: driver-registrar
        image: {{ index .Values.images "csi-node-driver-registrar" }}
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "rm -rf /registration/diskplugin.csi.alibabacloud.com /registration/diskplugin.csi.alibabacloud.com-reg.sock"]
        args:
        - "--v=5"
        - "--csi-address=/csi/csi.sock"
        - --kubelet-registration-path=/var/lib/kubelet/plugins/diskplugin.csi.alibabacloud.com/csi.sock
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
{{- if .Values.resources.nodeDriverRegistrar }}
        resources:
{{ toYaml .Values.resources.nodeDriverRegistrar | indent 10 }}
{{- end }}
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
        - name: registration-dir
          mountPath: /registration
      - name: csi-diskplugin
        securityContext:
          privileged: true
        image: {{ index .Values.images "csi-plugin-alicloud" }}
        args:
        - "--endpoint=$(CSI_ENDPOINT)"
        - "--v=5"
        env:
{{- if .Values.enableADController }}
        - name: DISK_AD_CONTROLLER
          value: {{ .Values.enableADController | quote }}
{{- end }}
        - name: CSI_ENDPOINT
          value: unix://var/lib/kubelet/plugins/diskplugin.csi.alibabacloud.com/csi.sock
        - name: ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: csi-diskplugin-alicloud
              key: accessKeyID
        - name: ACCESS_KEY_SECRET
          valueFrom:
            secretKeyRef:
              name: csi-diskplugin-alicloud
              key: accessKeySecret
{{- if .Values.resources.driver }}
        resources:
{{ toYaml .Values.resources.driver | indent 10 }}
{{- end }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: healthz
          containerPort: 9808
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          timeoutSeconds: 3
          periodSeconds: 10
          failureThreshold: 5
        volumeMounts:
        - name: pods-mount-dir
          mountPath: /var/lib/kubelet
          mountPropagation: "Bidirectional"
        - mountPath: /dev
          name: host-dev
          mountPropagation: "HostToContainer"
      - name: csi-liveness-probe
        image: {{ index .Values.images "csi-liveness-probe" }}
        args:
        - --csi-address=/csi/csi.sock
{{- if .Values.resources.livenessProbe }}
        resources:
{{ toYaml .Values.resources.livenessProbe | indent 10 }}
{{- end }}
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
      volumes:
      - name: registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry
          type: DirectoryOrCreate
      - name: plugin-dir
        hostPath:
          path: /var/lib/kubelet/plugins/diskplugin.csi.alibabacloud.com
          type: DirectoryOrCreate
      - name: pods-mount-dir
        hostPath:
          path: /var/lib/kubelet
          type: Directory
      - name: host-dev
        hostPath:
          path: /dev
